@import '../../styles/variables.scss';

.bio {
  margin-bottom: 50px;

  .author-description {
    display: flex;
    align-items: end;
  }

  .author-image {
    margin-top: 12px;
    margin-right: 30px;
    margin-bottom: 0;
    min-width: 100px;
    border: 6px double #dae3e2;
    border-radius: 50%;
  }

  .author-name {
    vertical-align: middle;
    height: 100px;
  }

  .author-name-prefix {
    font-size: 80%;
    margin-right: 7px;
  }

  .author-name-content {
    display: inline-block;
    font-size: 100%;
    padding: 2px 6px;
    font-weight: bolder;
    border-radius: 8px;
    transform-origin: center;
    animation: flutter 2s infinite linear;
  }

  .author-introduction {
    margin-top: 10px;
    font-size: 105%;
    line-height: 1.4;
  }

  .author-prev-posts {
    font-size: 100%;
  }
  .author-socials {
    margin-top: 4px;
  }

  a {
    margin-right: 8px;
    font-size: 80%;

    &.visited {
      text-decoration: none;
    }
  }
}

@-webkit-keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
