.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
